In [2]:
import numpy as np # linear algebra
import pandas as pd # data processing
import seaborn as sns # data visualization

import json # to read the JSON file from Yelp

# ignore filter warnings
import warnings
warnings.filterwarnings('ignore')

In [3]:
filename = "yelp_dataset/yelp_academic_dataset_business.json" 
df = pd.read_json(filename, lines=True) # import the .json file containing businesses data

In [5]:
print(f"The restaurants dataset contains {df.shape[0]} restaurants.")
df.head(5)

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
0,Pns2l4eNsfO8kk83dixA6A,"Abby Rappoport, LAC, CMQ","1616 Chapala St, Ste 2",Santa Barbara,CA,93101,34.426679,-119.711197,5.0,7,0,{'ByAppointmentOnly': 'True'},"Doctors, Traditional Chinese Medicine, Naturop...",None
1,mpf3x-BjTdTEA3yCZrAYPw,The UPS Store,87 Grasso Plaza Shopping Center,Affton,MO,63123,38.551126,-90.335695,3.0,15,1,{'BusinessAcceptsCreditCards': 'True'},"Shipping Centers, Local Services, Notaries, Ma...","{'Monday': '0:0-0:0', 'Tuesday': '8:0-18:30', ..."
2,tUFrWirKiKi_TAnsVWINQQ,Target,5255 E Broadway Blvd,Tucson,AZ,85711,32.223236,-110.880452,3.5,22,0,"{'BikeParking': 'True', 'BusinessAcceptsCredit...","Department Stores, Shopping, Fashion, Home & G...","{'Monday': '8:0-22:0', 'Tuesday': '8:0-22:0', ..."
3,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,Philadelphia,PA,19107,39.955505,-75.155564,4.0,80,1,"{'RestaurantsDelivery': 'False', 'OutdoorSeati...","Restaurants, Food, Bubble Tea, Coffee & Tea, B...","{'Monday': '7:0-20:0', 'Tuesday': '7:0-20:0', ..."
4,mWMc6_wTdE0EUBKIGXDVfA,Perkiomen Valley Brewery,101 Walnut St,Green Lane,PA,18054,40.338183,-75.471659,4.5,13,1,"{'BusinessAcceptsCreditCards': 'True', 'Wheelc...","Brewpubs, Breweries, Food","{'Wednesday': '14:0-22:0', 'Thursday': '16:0-2..."

In [6]:
df.categories.head(20) # there are not only restaurants in the dataset

0     Doctors, Traditional Chinese Medicine, Naturop...
1     Shipping Centers, Local Services, Notaries, Ma...
2     Department Stores, Shopping, Fashion, Home & G...
3     Restaurants, Food, Bubble Tea, Coffee & Tea, B...
4                             Brewpubs, Breweries, Food
5     Burgers, Fast Food, Sandwiches, Food, Ice Crea...
6     Sporting Goods, Fashion, Shoe Stores, Shopping...
7                   Synagogues, Religious Organizations
8     Pubs, Restaurants, Italian, Bars, American (Tr...
9     Ice Cream & Frozen Yogurt, Fast Food, Burgers,...
10                 Department Stores, Shopping, Fashion
11           Vietnamese, Food, Restaurants, Food Trucks
12    American (Traditional), Restaurants, Diners, B...
13    General Dentistry, Dentists, Health & Medical,...
14          Food, Delis, Italian, Bakeries, Restaurants
15                    Sushi Bars, Restaurants, Japanese
16    Automotive, Auto Parts & Supplies, Auto Custom...
17    Vape Shops, Tobacco Shops, Personal Shopping, ...
18    Automotive, Car Rental, Hotels & Travel, Truck...
19                                  Korean, Restaurants
Name: categories, dtype: object

In [7]:
# We will make a list of all indices at which there is a business whose category does not
# contain the word "restaurant" and then we will drop those indices

substring = "Restaurant"
not_a_restaurant = []

for i in range (0, df.shape[0]):

    fullstring = json.dumps(df.categories[i])

    if substring not in fullstring :
        not_a_restaurant.append(i)

df_restaurants = df.drop(not_a_restaurant, axis=0).reset_index()

In [9]:
print(f"The dataset contains {df.shape[0]} businesses of which {df_restaurants.shape[0]} are restaurants.")

(150346, 14)

In [12]:
df_restaurants.groupby(by='categories').count().sort_values(by='index', ascending=False).head(20)

,index,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,hours
categories,,,,,,,,,,,,,,
"Restaurants, Pizza",935,935,935,935,935,935,935,935,935,935,935,935,923,618
"Pizza, Restaurants",823,823,823,823,823,823,823,823,823,823,823,823,809,536
"Restaurants, Mexican",728,728,728,728,728,728,728,728,728,728,728,728,720,523
"Restaurants, Chinese",708,708,708,708,708,708,708,708,708,708,708,708,699,479
"Mexican, Restaurants",672,672,672,672,672,672,672,672,672,672,672,672,656,496
"Chinese, Restaurants",651,651,651,651,651,651,651,651,651,651,651,651,642,447
"Italian, Restaurants",328,328,328,328,328,328,328,328,328,328,328,328,323,239
"Restaurants, Italian",285,285,285,285,285,285,285,285,285,285,285,285,283,223
"Restaurants, American (New)",247,247,247,247,247,247,247,247,247,247,247,247,246,165
"American (New), Restaurants",235,235,235,235,235,235,235,235,235,235,235,235,233,151
"American (Traditional), Restaurants",203,203,203,203,203,203,203,203,203,203,203,203,201,106
"Restaurants, American (Traditional)",188,188,188,188,188,188,188,188,188,188,188,188,186,118
"Restaurants, Fast Food, Burgers",177,177,177,177,177,177,177,177,177,177,177,177,173,157
"Restaurants, Burgers, Fast Food",154,154,154,154,154,154,154,154,154,154,154,154,154,132
"Thai, Restaurants",152,152,152,152,152,152,152,152,152,152,152,152,149,128
"Restaurants, Vietnamese",146,146,146,146,146,146,146,146,146,146,146,146,144,122
"Barbeque, Restaurants",143,143,143,143,143,143,143,143,143,143,143,143,142,110
"Fast Food, Restaurants, Burgers",143,143,143,143,143,143,143,143,143,143,143,143,143,132
"Restaurants, Thai",140,140,140,140,140,140,140,140,140,140,140,140,140,115
"Restaurants, Barbeque",140,140,140,140,140,140,140,140,140,140,140,140,140,112

In [1]:
# Take a sample of 10 000 restaurants

df_restaurants_sample = df_restaurants.sample(n=10000, random_state=1, replace=False).reset_index()

NameError: name 'df_restaurants' is not defined

In [14]:
df_restaurants_sample.head(5)

,index,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
21615,62367,cRW2jlN-NF3OsYKEpo1OWg,Primo's Italian Garage & Catering,2110 Troy Rd,Edwardsville,IL,62025,38.790331,-89.950604,3.0,10,0,"{'RestaurantsDelivery': 'None', 'RestaurantsRe...","Italian, Restaurants","{'Monday': '16:0-21:0', 'Tuesday': '16:0-21:0'..."
18464,53165,nfDNbJ3eWwudtQCyp2EpSw,Roberto's Trattoria & Chophouse,145 Concord Plz,Saint Louis,MO,63128,38.523937,-90.363259,4.5,150,1,"{'WiFi': 'u'no'', 'BusinessAcceptsCreditCards'...","Wine Bars, Food, Nightlife, American (Traditio...","{'Tuesday': '16:30-22:0', 'Wednesday': '16:30-..."
50854,146286,0EH0WBJSqVvu0vyVUM2zBQ,Da-Kine Hawaiian Cafe,6920 N Dale Mabry,Tampa,FL,33614,28.011798,-82.505577,4.0,30,0,"{'RestaurantsReservations': 'False', 'HasTV': ...","Restaurants, Hawaiian","{'Monday': '11:0-20:0', 'Tuesday': '11:0-20:0'..."
23551,68037,9MObWLEzfoTTXUJQS45HYQ,The Job Site Burgers,2063 Central Ave,St. Petersburg,FL,33713,27.771268,-82.661543,3.5,45,1,"{'RestaurantsDelivery': 'True', 'OutdoorSeatin...","American (Traditional), Burgers, Restaurants","{'Tuesday': '11:0-20:0', 'Wednesday': '11:0-20..."
15992,46141,gu1XBRHx0v4PvFKcEYX65Q,Malone's Grill & Pub,8742 Watson Rd,Crestwood,MO,63119,38.563532,-90.363557,4.0,44,0,"{'RestaurantsReservations': 'False', 'NoiseLev...","American (Traditional), Restaurants",None

In [20]:
filename = "yelp_dataset/yelp_academic_dataset_review.json"

n = sum(1 for line in open(filename, encoding="utf8"))-1  # Calculate number of rows in file
print("There are " + str(n) + " lines in the reviews file.")

There are 6990279 lines in the reviews file.

In [30]:
reader = pd.read_json(filename, lines=True, chunksize=100000) # initialize the json reader

In [31]:
df_reviews = pd.DataFrame() # initialize an empty dataframe

In [32]:
# Uncomment the below code to read in 7 million reviews, 43 minutes execution time
# The result of the code is saved in "reviews_for_sample_of_restaurants.csv" to avoid re-running the reader

# for chunk in reader : 
#     df_reviews = df_reviews.append(chunk)

In [33]:
df_reviews

,review_id,user_id,business_id,stars,useful,funny,cool,text,date
0,KU_O5udG6zpxOg-VcAEodg,mh_-eMZ6K5RLWhZyISBhwA,XQfwVwDr-v0ZS3_CbbE5Xw,3,0,0,0,"If you decide to eat here, just be aware it is...",2018-07-07 22:09:11
1,BiTunyQ73aT9WBnpR9DZGw,OyoGAe7OKpv6SyGZT5g77Q,7ATYjTIgM3jUlt4UM3IypQ,5,1,0,1,I've taken a lot of spin classes over the year...,2012-01-03 15:28:18
2,saUsX_uimxRlCVr67Z4Jig,8g_iMtfSiwikVnbP2etR0A,YjUWPpI6HXG530lwP-fb2A,3,0,0,0,Family diner. Had the buffet. Eclectic assortm...,2014-02-05 20:30:30
3,AqPFMleE6RsU23_auESxiA,_7bHUi9Uuf5__HHc_Q8guQ,kxX2SOes4o-D3ZQBkiMRfA,5,1,0,1,"Wow! Yummy, different, delicious. Our favo...",2015-01-04 00:01:03
4,Sx8TMOWLNuJBWer-0pcmoA,bcjbaE6dDog4jkNY91ncLQ,e4Vwtrqf-wpJfwesgvdgxQ,4,1,0,1,Cute interior and owner (?) gave us tour of up...,2017-01-14 20:54:15
...,...,...,...,...,...,...,...,...,...
6990275,H0RIamZu0B0Ei0P4aeh3sQ,qskILQ3k0I_qcCMI-k6_QQ,jals67o91gcrD4DC81Vk6w,5,1,2,1,Latest addition to services from ICCU is Apple...,2014-12-17 21:45:20
6990276,shTPgbgdwTHSuU67mGCmZQ,Zo0th2m8Ez4gLSbHftiQvg,2vLksaMmSEcGbjI5gywpZA,5,2,1,2,"This spot offers a great, affordable east week...",2021-03-31 16:55:10
6990277,YNfNhgZlaaCO5Q_YJR4rEw,mm6E4FbCMwJmb7kPDZ5v2Q,R1khUUxidqfaJmcpmGd4aw,4,1,0,0,This Home Depot won me over when I needed to g...,2019-12-30 03:56:30
6990278,i-I4ZOhoX70Nw5H0FwrQUA,YwAMC-jvZ1fvEUum6QkEkw,Rr9kKArrMhSLVE9a53q-aA,5,1,0,0,For when I'm feeling like ignoring my calorie-...,2022-01-19 18:59:27
6990279,RwcKOdEuLRHNJe4M9-qpqg,6JehEvdoCvZPJ_XIxnzIIw,VAeEXLbEcI9Emt9KGYq9aA,3,10,3,7,Located in the 'Walking District' in Nashville...,2018-01-02 22:50:47

In [44]:
# We keep only the reviews for our previous sample of 10 000 restaurants

reviews_for_sample_of_restaurants = df_reviews[df_reviews['business_id'].isin(df_restaurants_sample['business_id'])]

In [51]:
reviews_for_sample_of_restaurants.shape

(893631, 9)

In [45]:
# We save the dataframe of reviews for the sample of restaurants as a .csv

reviews_for_sample_of_restaurants.to_csv("reviews_restaurants_extracted.csv", index=False)

In [59]:
# Keep only the bad reviews

bad_reviews = reviews_for_sample_of_restaurants[reviews_for_sample_of_restaurants["stars"]<3]

In [65]:
print("Shape of dataframe : " + str(bad_reviews.shape))
bad_reviews.head(5)

Shape of dataframe : (185034, 9)

,review_id,user_id,business_id,stars,useful,funny,cool,text,date
50,yCbzm_d4cHpfUX00Ljvgmg,bHSoye7R5cL-LVWLxtaxMg,SSZDGl2J-CEyIzuIbEiYNQ,2,2,0,0,"We started with the artichoke dip, big mistake...",2017-09-08 23:20:19
73,PDHRlnEdkEcwATry4w71PQ,UsBxLh14sUpO8SdeqIiGOA,Wy8Hswf2cLQGRZN6armkag,1,1,0,0,"If I could give it a zero, I would. I order a ...",2011-08-24 23:07:08
84,meGaFP7yxQdjyABrYDVeoQ,_jaJDV-qTBafatbObmtzpA,cg4JFJcCxRTTMmcg9O9KtA,1,0,1,0,Skip this train wreck if you are looking for d...,2018-02-11 03:11:20
98,PPgbLBvi34A6m7bKJfTwhw,3TL6HZ1JrKcNTvGDWKlrow,GyC36Pn0Q1-qHnqXys6yFg,1,0,0,0,Service and management terrible... After messi...,2013-12-07 13:17:13
251,bVgpM_sA9AMAlL2R5TPNAQ,8DSuxkm7SyX9fgQTw2tuaw,dz_aIFbATP2PLWQSOBnMfw,1,1,0,0,Pretty slow service and the waitresses aren't ...,2017-05-13 16:53:19

In [73]:
bad_reviews.to_csv("bad_reviews.csv", index=False) # save to csv for next step